.pagin {
padding: 10px 0;
font:bold 13px/30px arial, serif;
position: relative;
top: 350px;
}
.pagin * {
padding: 2px 6px;
margin: 2px;
border-radius:3px;
}
.pagin a {
		border:solid 1px #8DC5E6;
		text-decoration:none;
		background:#F8FCFF;
		color:#0A7EC5;
		padding:6px 7px 5px;
}

.pagin span, .pagin a:hover, .pagin a:active,.pagin span.current {
		color:#FFFFFF;
		background:#0A7EC5;
		    
}

.pagin span,.current{
	padding:8px 7px 7px;
	color:gray;
	background:-moz-linear-gradient(top,#B4F6FF 1px,#63D0FE 1px,#58B0E7);
	border:solid 1px gray;
	text-decoration:none;
	background:#F8FCFF;
	padding:6px 7px 5px;
}